/* ! Подключаем шрифты */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'),
		url('fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto'),
		url('fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: local('Roboto'),
		url('fonts/Roboto-Bold.ttf') format('ttf');
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	background-color: #F5F5F5;
}

html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
textarea,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}



/* ! Скрываем элементы */
.visually-hidden {
	position: fixed;
	transform: scale(0);
}

/* ! Хедер */
.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}





/* ! Категории */
.category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.category-item {
	margin-right: 20px;
	margin-bottom: 19px;
}

.category-item:last-child {
	margin-right: 0;
}